.saleBox{
    width: 100%;
    padding: 0 10px 40px; 
}

.saleCnt{
    display: flex;
}


.saleBox .crumbs{
    padding: 10px 0;
}

/* ==== saleRight start ===== */
.saleRight{
    width: calc(100% - 150px);
    padding-left: 48px;
}

.saleTop{
    width: 100%;
    display: flex;
}

/* saleTop_L start */
.saleTop_L{
    width: 100%;
    max-width: 400px;
    margin-right: 50px;
}

.saleimgCnt{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin-bottom: 10px;
    position: relative;
    background-color: rgba(238, 238, 238, 0.5);
}

.saleimgCnt>img{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.saleimgCnt:hover .zoom,
.saleimgCnt:hover .zoomShow{
    display: block;
}

.saleimgCnt .zoom{
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    display: none;
}

.saleimgCnt .icon-search{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #333;
    color: #fff;
    opacity: 0.3;
}

.zoomShow{
    width: 100%;
    height: 100%;
    position: absolute;
    right: calc(-100% - 10px);
    background-color: #eee;
    overflow: hidden;
    z-index: 1;
    display: none;
}

.zoomShow img{
    position: absolute;
}

.saleTop_L ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.saleTop_L li{
    width: calc(100% / 5);
    padding: 5px;
    cursor: pointer;
}

.saleTop_L li>div{
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: 0.3s;
}

.saleTop_L li.on>div,
.saleTop_L li:hover>div,
.saleTop_L li:active>div{
    border: 2px solid #bbb;
    opacity: 1;
    
}

.saleTop_L ul img{
    width: 100%;
    vertical-align: middle;  
}

/* saleTop_R start */
.saleTop_R{
    width: 100%;
    padding: 10px; 
}

.saleTop_R h4{
    color: #999;
    padding-bottom: 5px;
}

.saleTop_R h5{
    width: 100%;
    font-size: 16px;
}

.price{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.price .icon-heart{
    font-size: 18px;
    color: #ff5353;
    position: absolute;
    right: 0;
    bottom: 22px;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
}

.price .icon-heart:hover,
.price .icon-heart:active{
    opacity: 1;
}


.price p::before{
    content: 'NT$ ';
}

.price_new{
    color: #aaa;
    text-decoration: line-through;
}

.price_disc{
    font-size: 22px;
    color: #ff5353;
    font-weight: bold;
}

/* sale_color start */
/* sale_size start */
.sale_color,
.sale_size{
    padding-top: 15px;
}

.sale_color ul,
.sale_size ul{
    padding-top: 5px;
    display: flex;
}

.sale_color li,
.sale_size li{
    padding: 2px;
    display: flex;
    border: 1px solid transparent;
}

.sale_color li+li,
.sale_size li+li{
    margin-left: 5px;
}

.sale_color li.on,
.sale_size li.on{
    border: 1px solid #ccc;
}

.sale_color .colorCard,
.sale_size .sizeCard{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.sale_color input,
.sale_size input{
    display: none;
}

.sale_size p{
    display: flex;
    align-items: center;
}

.sale_size p span{
    width: 20px;
    text-align: center;
}


/* sale_count start */
.sale_count{
    width: 100%;
    max-width: 400px;
    padding-top: 50px;
}

.sale_count ul{
    display: flex;
    padding-bottom: 5px;
}

.sale_count li{
    width: calc(100% / 2 - 10px);
    height: 45px;
}

.sale_count li+li{
    margin-left: 10px;
}

.sale_number{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 1px solid #bbb;
    color: #bbb;
    display: flex;
}

.sale_number>div{
    width: 25%;
    height: 100%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
}

.sale_number input{
    width: 100%;
    font-size: 18px;
    outline: none;
    border: none;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    text-align: center;
    background-color: transparent;
}

.sale_number>div:hover,
.sale_number>div.on{
    background-color: #eee;
}

.sale_count button{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #E33D26;
    box-shadow: 0 0 10px 0 #8b2113 inset;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.sale_count button:hover{
    background-color: #ca3c3c;
}

.sale_count span{
    font-size: 10px;
    color: #bbb;
}

/* msgGroup start */
.msgGroup{
    padding-top: 20px;
}

.msgTitle{
    padding: 10px;
    line-height: 20px;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.msgTitle h6{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.msgTitle .icon-truck{
    padding-left: 5px;
    color: #6795ED;
    font-size: 14px;  
}

.msgTitle p{
    color: #999;
}

.msgTitle>span{
    width: 20px;
    height: 20px;
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: #999;
    transition: 0.5s;
}

.msgTitle.on>span{
    transform: rotate(180deg);
}

.msgTitle.on+.msgCount{
    display: block;
}

.msgCount{
    padding: 20px 10px 0;
    font-size: 12px;
    background-color: #f7fafa;
    border-bottom: 1px solid #ccc;
    display: none;
}

.msgCount span{
    position: relative;
    padding-left: 15px;
    color: #888b94;;
}

.msgCount span::before{
    content: '';
    width: 4px;
    height: 100%;
    background-color: rgb(74, 78, 92);
    border-radius: 40% / 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.msgCount ul{
    padding: 5px 0 25px;
    padding-left: 15px;
    line-height: 22px;
}

.noteMsg ul{
    list-style-type: decimal;
    padding-left: 30px;
}

/* ===== saleDemo start ===== */
.saleDemo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.saleDemo img{
    width: max-content;
    max-width: 100%;
    margin: auto;
}

/* ===== guideBox start  ===== */
.guideBox{
    width: fit-content;
    height: 90%;
    padding-top: 50px;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 0 8px #333;
    display: none;
}

.guideBox.on{
    display: block;
}

 .guideBox>span{
   font-size: 25px;
   color: #999;
   position: absolute;
   top: 10px;
   right: 10px;
   transition: 0.3s;
   cursor: pointer;
 }
 .guideBox>span:hover{
   color: #333;
 }

 .guideClose{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   cursor: pointer;
   display: none;
 }

 .guideClose::before,
 .guideClose::after{
   width: 60px;
   height: 35px;
   margin: auto;
   font-size: 25px;
   color: #fff;
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .guideClose::after{
   content: '\00ab';
   transform:  rotate(90deg);
 }

 .guideClose::before{
   content: '';
   border-radius: 5px 5px 0 0;
   background-color: #000;
 }
 
 .guideCnt{
   width: 100%;
   width: 800px;
   height: 100%;
   padding: 20px 20px 50px;
   letter-spacing: .2em;
   background-color: #fff;
   overflow-y: scroll;
   z-index: 1;
   -ms-overflow-style: none;
 }

.guideCnt::-webkit-scrollbar {
    display: none;
}

.guideBox h2{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 30px;
}

.guideTitle{
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: relative;
}

.guideTitle h5{
    padding: 0 10px;
    font-size: 14px;
    color: #656565;
    border-bottom: 1px solid #000;
    cursor: pointer;
    transition: color 0.3s linear;
}

.guideTitle:hover h5{
    color: #111;
}

.guideTitle span{
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: #656565;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    transition: 0.5s;
}

.guideTitle.on span{
    transform: rotate(180deg);
}

.guideTitle.on+.guideMsg{
    display: block;
}

.guideMsg{
    font-size: 12px;
    display: none;
}

.guideMsg table{
    width: 100%;
}

.guideMsg tr{
    border-bottom: 1px solid #e0e0e0;
}

.guideMsg tr:first-child{
    border-bottom: 1px solid #000;
}

.guideMsg th{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold; 
    color: #111;   
}

.guideMsg td{
    height: 40px;
    line-height: 40px;
    color: #656565;
    text-align: center;
}

.guideNote{
    padding: 30px 10px 0;
    line-height: 20px;
    font-size: 12px;
    color: #b6afaf;
}

.sizeImg{
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.sizeImg img{
    width: fit-content;
    max-width: 100%;
    margin: auto;
}


/* ========== RWD 設定 ========== */
@media only screen and (max-width: 1199px){
    .saleCnt{
        flex-direction: column;
    }

    .saleBox .assortList{
        display: none;
    }

    .saleRight{
        width: 100%;
        padding-left: 0;
    }
}

@media only screen and (max-width: 850px){
    .guideBox{
      width: 100%;
      height: 100%;
      padding: 10px;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 9999;
      display: none;
    }

    .guideBox.on{
       display: flex;
       justify-content: center;
    }
  
    .guideBox>span{
      display: none;
    }
  
    .guideClose{
      display: block;
    }
  
    .guideCnt{
      width: 100%;
      max-height: 80%;
    }
    .guideMsg tr:first-child{
        display: none;
    }
    .guideMsg tr{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .guideMsg td{
        height: 25px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
    }

    .guideMsg td::before{
        content: attr(data-title);
    }

}

@media only screen and (max-width: 799px){
    .saleTop{
        flex-direction: column;
    }

    .saleTop_L{
        width: 100%;
        max-width: 400px;
        margin: auto;
    }

    .saleTop_L ul{
        padding: 20px 0;
    }

    .saleimgCnt:hover .zoom,
    .saleimgCnt:hover .zoomShow,
    .saleimgCnt .icon-search{
        display: none;
    }
    
    .sale_count{
        max-width: 600px;
        margin: auto;
    }
    
}




